*{
    margin: 0;
    padding: 20px;
}

body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#greet{
    background: blue;
    color: white;
    border-radius: 20px;
}

#jargons{
    background: white;
    margin: 20px;
    border-radius: 15px;
}

button{
    color: white;
    background-color: brown;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid black;
}

button:hover{
    cursor: pointer;
}